@import "../abstracts/index.less";

@font-face {
  font-family: "Inter";
  font-weight: 400 600;
  src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

:where(body) {
  font: 400 1rem/150% "Inter", sans-serif;
  color: @clr-electric-blue;
}

.bold {
  font-weight: 600;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: 110%;
  .bold();
  color: @clr-gunmetal;
}

.main-header {
  &__title {
    font-size: .get-clamp(3rem, 4rem, 48rem, 56rem) [];
    letter-spacing: .get-clamp(-0.15rem, -0.2rem, 48rem, 56rem) [];
    text-align: center;
  }

  &__desc {
    text-align: center;
  }
}

.calculator {
  &__title {
    font-size: 1.5rem;
    letter-spacing: -0.075rem;
  }
}

.radio__label {
  font-weight: 600;
  line-height: 150%;
  color: @clr-gunmetal;
}

.text {
  &__label {
    font-size: 0.875rem;
    line-height: 150%;
  }

  // &__unit {
  //   font-size: 1.5rem;
  //   font-weight: 600;
  //   letter-spacing: -0.075rem;
  //   color: @clr-blue;
  // }
}

.result {
  color: white;

  &__title {
    color: white;
  }

  &__number {
    font-size: 3rem;
    line-height: 110%;
  }

  &__desc {
    font-size: 0.875rem;
  }
}

.explanation {
  &__title {
    font-size: 2rem;
    letter-spacing: -0.1rem;
  }
}

.suggestions {
  &__title {
    font-size: 1.5rem;
    letter-spacing: -0.075rem;
  }
}

.limitations {
  &__title {
    font-size: 2rem;
    letter-spacing: -0.1rem;
    text-align: center;
  }

  &__desc {
    text-align: center;
  }
}

.grid {
  &__title {
    font-size: 1.25rem;
    letter-spacing: -0.0625rem;
  }
}
