@import "../../less/abstracts/index.less";

.suggestions {
  position: relative;
  margin-top: 4.25rem;
  padding-block: 3.75rem;

  .mq(@bp-desktop, {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
  });

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.25;
    background: linear-gradient(
      315deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );

    .mq(@bp-desktop, {
      left: .get-clamp(0rem, 2rem, 75rem, 81.25rem)[];
;     right: .get-clamp(0rem, 2rem, 75rem, 81.25rem)[];
;     border-radius: 2.1875rem;
    });
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style: none;
    .padding-inline;

    .mq(@bp-desktop, {
        flex-direction: row;
        gap: 2rem;
        .max-width();
    });
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .mq(@bp-tablet @bp-desktop, {
      flex-direction: row;
      gap: 2.5rem;
    });

    .mq(@bp-desktop, {
      gap: 2.81rem;
    });
  }

  &__img {
    width: 4rem;
    aspect-ratio: 1 / 1;
  }

  &__desc {
    margin-top: 1.5rem;
  }
}
