@import "../../less/abstracts/index.less";

.suggestions {
  position: relative;
  margin-top: 4.25rem;
  .padding-inline;
  padding-block: 3.75rem;

  .mq(@bp-tablet, {
  });

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.25;
    background: linear-gradient(
      315deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .mq(@bp-tablet, {
      flex-direction: row;
      gap: 2.5rem;
    });

    &:not(:first-child) {
      margin-top: 2.5rem;
    }
  }

  &__img {
    width: 4rem;
    aspect-ratio: 1 / 1;
  }

  &__desc {
    margin-top: 1.5rem;
  }
}
