@import "../../less/abstracts/index.less";

.limitations {
  .max-width();
  margin-top: 4.5rem;
  .padding-inline;
  padding-bottom: 6rem;

  .mq(@bp-desktop, {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(24, 1fr);
  });

  &__text {
    margin-bottom: 3.5rem;
    grid-column: 1 / -1;

    .mq(@bp-desktop, {
      grid-area: 1 / 1 / 1 / 13;
    });
  }

  &__desc {
    margin-top: 2rem;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  list-style: none;

  .mq(@bp-tablet @bp-desktop, {
    gap: 1.5rem 0.95rem;
    grid-template-columns: 4fr 5fr 5fr 4fr;
  });

  .mq(@bp-desktop, {
    grid-area: 1 / 1 / 1 / -1;
    gap: 2rem;
    grid-template-columns: repeat(24, 1fr);
  });

  &__item {
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1rem 2rem 3.5rem 0 rgba(143, 174, 207, 0.25);

    .mq(@bp-tablet, {
      padding: 2rem;
      grid-column: span 2;
      
      &:last-child {
        grid-column: 2 / 4;
      }
    });

    .mq(@bp-desktop, {
      &:nth-child(1) {
        grid-area: 1 / 15 / 1 / span 8;
      }

      &:nth-child(2) {
        grid-area: 2 / 9 / 2 / span 8;
      }

      &:nth-child(3) {
        grid-area: 2 / 17 / 2 / span 8;
      }

      &:nth-child(4) {
        grid-area: 3 / 5 / 3 / span 8;
      }

      &:nth-child(5) {
        grid-area: 3 / 13 / 3 / span 8;
      }
    });
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__desc {
    margin-top: 1rem;
  }
}
