@import "../../less/abstracts/index.less";

.limitations {
  .max-width();
  margin-top: 4.5rem;
  .padding-inline;
  padding-bottom: 6rem;

  .mq(@bp-desktop, {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-areas: 
    //  text gender 
    //  age muscle 
    //  pregnancy race ;
  });

  &__text {
    // grid-area: text;
    // grid-column: 1;
    // grid-row: 1;
  }

  &__desc {
    margin-top: 2rem;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  margin-top: 3.5rem;
  list-style: none;

  .mq(@bp-tablet, {
    gap: 1.5rem 0.95rem;
    grid-template-columns: 4fr 5fr 5fr 4fr;
  });

  .mq(@bp-desktop, {
    gap: 2rem;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  });

  &__item {
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1rem 2rem 3.5rem 0 rgba(143, 174, 207, 0.25);

    .mq(@bp-tablet, {
      padding: 2rem;
      grid-column: span 2;

      &:last-child {
        grid-column: 2 / 4;
      }
    });

    .mq(@bp-desktop, {
      &:nth-child(1) {
        // grid-area: gender;
        grid-column: 3 / span 2;
        grid-row: 1;
      }

      &:nth-child(2) {
        // grid-area: age;
        grid-column: 1 / span 2;
        grid-row: 2;
      }

      &:nth-child(3) {
        grid-area: muscle;
        grid-column: 3 / span 2;
        grid-row: 2;
      }

      &:nth-child(4) {
        grid-area: pregnancy;
        grid-column: 1 / span 2;
        grid-row: 3;
      }

      &:nth-child(5) {
        grid-area: race;
        grid-column: 3 / span 2;
        grid-row: 3;
      }
    });
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__desc {
    margin-top: 1rem;
  }
}
