@import "../../less/abstracts/index.less";

.explanation {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4.5rem;
  .max-width();

  .mq(@bp-tablet, {
    .padding-inline();
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    & * {
      flex: 1;
    }
  });

  .mq(@bp-desktop, {
    gap: 8rem;
  });

  &__img {
    .mq(@bp-tablet, {
      transform: scale(1.15) translateX(-15%);
    });

    .mq(@bp-desktop, {
      transform: unset;
    });
  }

  &__text {
    .mq(0 @bp-tablet, {
      .padding-inline;
    });
  }

  &__desc {
    margin-top: 2rem;
  }
}
